@import '../../assets/scss/helpers/variables';
@import '../../assets/scss/helpers/mixins';

.studentDetail {

    padding-top: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 20px;
    height: 40vh;
    text-align: center;
    border: #002439 solid 3px ;
    position: relative;
    @include responsive (tablet){
      margin: auto;
      width: 760px;
      
      }

  div{
    position: inherit;
    top: 13%;
  .studentDetail h2 {
    color: #333;
  }
  
  .studentDetail section {
    margin-top: 10px;
  }
  p{
    font-size: 18px;
  }
}
}

.btnsUser{
  text-align: center;

 button{
  margin: 10px;
  @include responsive (tablet){
  margin-right: 10px;
  
  }
  
}

 a{
  color: white
 }
}