
.studentDetail {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 20px;
    height: 100vh;
    text-align: center;
  }
  
  .studentDetail h2 {
    color: #333;
  }
  
  .studentDetail section {
    margin-top: 10px;
  }
  
 button{
  margin: 10px;
 }

 a{
  color: white
 }
  