.cta-subscribe {
  .cta-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;

    &.bluecta {
      background-image: linear-gradient(to right, #B2DEDB, #4481eb, #04befe, #005A8A);
      box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    }
  }

  &.reverse-color {
    .cta-hover {
      background-image:none;
      // border: #25aae1 solid 2px;
      box-shadow: 0 3px 10px 0 rgba(65, 132, 234, 0.75);
      background-color: white;
      // color: #00a7ee;

      &:hover{
      border: #5691E8 solid 1px;
      }

      &.bluecta {
        background-color: #5691E8;
        box-shadow: none; 
      }
      
    }
  }

  .cta-hover:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  .cta-hover:focus {
    outline: none;
  }
}
