
.editCourseForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  

  
    select {
      height: 38px;
    }
  
    p {
      margin-top: 5px;
    }
    .btnsEdit{
      text-align: center;
    }
  
  }
  