@import '../../assets/scss/helpers/variables';
@import '../../assets/scss/helpers/mixins';

.containerCards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px 0 20px;

    @media (responsive(tablet)) {
        gap: 40px;

    }
  
  
  .itemCard {
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    flex-direction: row;
    width: 100%;

  
    @include responsive(tablet){
      flex-direction: column;
       width: 220px;

    }
  
  
  .img {
    min-width: 150px;
    height: 200px;
    background-color: lightgrey;
    // background-image: url(//unsplash.it/500/500);
    background-image: url(../../../public/images/illustrations/atome-dent.png);

    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 0.3em;
    
    @include responsive(tablet){
      min-width: 220px;
  
      }
  }
  
  button {
    display: inline-block;
    padding: 10px;
    background: #002439;
    border-radius: 8px;
    border: transparent;
    color: wheat;
    margin-bottom: 10px;
    &:hover{
    background: #002439df;
    }
  }
  
  p {
    padding: 0 1em;
    line-height: 130%;
    height: 100px;
    overflow: hidden;
  }
}
}