/**
* Flame
**/
@font-face {
    font-family: "FlameBold";
    src: url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.eot");
    src: url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.svg#Flame Bold")format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoSlab";
    src: url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.eot");
    src: url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1ec06eed11bbcb1ee510b8f3522adea8.svg#Roboto Slab")format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}