
/* Container styles */
.addCourseContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading styles */
  .addCourseContainer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form styles */
  .addCourseForm {
    display: flex;
    flex-direction: column;
  }
  
  .addCourseForm label {
    margin-bottom: 10px;
  }
  
  .addCourseForm input,
  .addCourseForm textarea,
  .addCourseForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .addCourseForm button {
    background-color: #58A59D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .addCourseContainer {
      padding: 40px;
    }
  
    .addCourseForm {
      width: 80%;
      margin: 0 auto;
    }
  }

  /* ... */

/* Radio button container styles */
.topicContainer {
    display: flex;
    flex-direction: row;
    label {
        margin-bottom: 10px;
      }
  }
  
  
 
  
 
  