
.addCourseContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .addCourseContainer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .addCourseForm {
    display: flex;
    flex-direction: column;
  }
  
  .addCourseForm label {
    margin-bottom: 10px;
  }
  

  

  
  @media (min-width: 768px) {
    .addCourseContainer {
      padding: 40px;
    }
  
    .addCourseForm {
      width: 80%;
      margin: 0 auto;
    }
  }



.topicContainer {
    display: flex;
    flex-direction: row;
    label {
        margin-bottom: 10px;
      }
  }
  
  
 
  
 
  