
@import "helpers/fonts";
@import "helpers/mixins";
@import "helpers/reset";
@import "helpers/variables";



html,
body {
  overflow-x: hidden;
  margin: 0;
  background-color: #fafafa;
  min-height: 100vh;

}
.layout-container {
  max-width: 120rem;
  margin: 0 auto;
}

.centered {
  margin: auto;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: none;
  font: 1rem/1 "FlameRegular";
  line-height: 1;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
p{
  font-family: $RobotoSlab;
  font-size: 16px;
}
