
@import "helpers/fonts";
@import "helpers/mixins";
@import "helpers/reset";
@import "helpers/variables";



html,
body {
  overflow-x: hidden;
  margin: 0;
  background-color: #fafafa;
  min-height: 100vh;

}
main {
  margin-top: 57px; 
  min-height: calc(100vh - 50px); 
  }
.layout-container {
  max-width: 120rem;
  margin: 0 auto;
}

label{
  display: flex;
  justify-content: center;
  font-size: 18px;
}


input,
textarea,
 select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  
  &:focus,
  &:active {
    border: 1px solid #979393;

  }
}

.centered {
  margin: auto;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font: 1rem/1 "FlameRegular";
  line-height: 1;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
  }
}
.red {
  background-color: #B15252;
  color: white;
  &:hover{
    transform: scale(1.01);
  }
}


  .beige {
    background-color: #aa905f;;
    color: white;
    &:hover{
      transform: scale(1.01);
    }
  }


.green {
  background-color: #58a39d;
  color: white;
  &:hover{
    transform: scale(1.01);
  }
}

.blue {
  background-color: #2196F3;
  color: white;
  &:hover{
    transform: scale(1.01);
  }
}

.darkblue{
background: #002439;
color: white;
&:hover{
  background: #002439df;
  }

}

p{
  font-family: $RobotoSlab;
  font-size: 16px;
  color: #002439;
}

.successText {
  color: #58ad5b;
  text-align: center;
  font-size: 18px;
a{
  color: #fafafa;
  font-size: 10px;

}
}
// ----------- search results: ----------
.flexcard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardes{

  .card{


  }
}
.marges{
  margin: 50px;
}